USE [master]
GO
/****** Object:  Database [PoulinaTracker]    Script Date: 11/30/2025 3:43:13 PM ******/
CREATE DATABASE [PoulinaTracker]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PoulinaTracker', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PoulinaTracker.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PoulinaTracker_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PoulinaTracker_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PoulinaTracker].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PoulinaTracker]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](15) NULL,
	[Department] [nvarchar](50) NULL,
	[JobTitle] [nvarchar](50) NULL,
	[DateOfJoining] [date] NULL,
	[ProfilePicture] [nvarchar](max) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SickLeaveBalance] [int] NOT NULL,
	[VacationLeaveBalance] [int] NOT NULL,
	[CIN_Number] [varchar](8) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[AttendanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Date] [date] NOT NULL,
	[CheckInTime] [time](0) NULL,
	[CheckOutTime] [time](0) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Source] [varchar](16) NOT NULL,
	[NeedsReview] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Attendance] PRIMARY KEY CLUSTERED 
(
	[AttendanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Attendance_EmpDate] UNIQUE NONCLUSTERED 
(
	[EmployeeID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vAttendanceDaily]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   4) VIEWS FOR BI / REPORTING
   ============================================================ */

-- Daily attendance flat view
CREATE VIEW [dbo].[vAttendanceDaily] AS
SELECT 
  a.[Date],
  a.EmployeeID,
  e.CIN_Number,
  e.FirstName,
  e.LastName,
  e.Department,
  e.JobTitle,
  a.CheckInTime,
  a.CheckOutTime,
  a.Status,
  a.NeedsReview,
  a.Source
FROM dbo.Attendance a
JOIN dbo.Employees e ON e.EmployeeID = a.EmployeeID;
GO
/****** Object:  View [dbo].[vKPI_AttendanceRate]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- KPI: Attendance rate per day (denominator: Active employees)
CREATE VIEW [dbo].[vKPI_AttendanceRate] AS
SELECT 
  a.[Date],
  CAST(SUM(CASE WHEN a.Status IN ('Present','Late') THEN 1 ELSE 0 END) AS float)
    / NULLIF((SELECT COUNT(*) FROM dbo.Employees WHERE Status='Active'),0) AS AttendanceRate
FROM dbo.Attendance a
GROUP BY a.[Date];
GO
/****** Object:  View [dbo].[vKPI_NeedsReview]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- KPI: NeedsReview % per day
CREATE VIEW [dbo].[vKPI_NeedsReview] AS
SELECT 
  a.[Date],
  CAST(SUM(CASE WHEN a.NeedsReview=1 THEN 1 ELSE 0 END) AS float)
    / NULLIF(COUNT(*),0) AS NeedsReviewPct
FROM dbo.Attendance a
GROUP BY a.[Date];
GO
/****** Object:  Table [dbo].[AuditLog]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Entity] [varchar](32) NOT NULL,
	[EntityID] [int] NOT NULL,
	[ChangedAt] [datetime2](0) NOT NULL,
	[ChangedBy] [varchar](100) NULL,
	[Action] [varchar](10) NOT NULL,
	[Details] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[FeedbackID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Category] [nvarchar](50) NULL,
	[Description] [nvarchar](max) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SubmittedDate] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[FeedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HR_Corrections]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HR_Corrections](
	[CorrectionID] [int] IDENTITY(1,1) NOT NULL,
	[AttendanceID] [int] NOT NULL,
	[CorrectedField] [varchar](40) NOT NULL,
	[OldValue] [nvarchar](200) NULL,
	[NewValue] [nvarchar](200) NOT NULL,
	[CorrectedBy] [varchar](100) NOT NULL,
	[CorrectedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CorrectionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveBalances]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveBalances](
	[BalanceID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LeaveType] [nvarchar](20) NOT NULL,
	[TotalAllocated] [int] NOT NULL,
	[UsedDays] [int] NOT NULL,
	[RemainingDays] [int] NOT NULL,
	[RemainingDaysCalc]  AS ([TotalAllocated]-[UsedDays]) PERSISTED,
 CONSTRAINT [PK_LeaveBalances] PRIMARY KEY CLUSTERED 
(
	[BalanceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LeaveRequests]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LeaveRequests](
	[LeaveRequestID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[LeaveType] [nvarchar](20) NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Reason] [nvarchar](255) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RequestedDate] [datetime2](0) NOT NULL,
	[LeaveDays] [int] NULL,
	[PermissionDurationMinutes] [int] NULL,
 CONSTRAINT [PK_LeaveRequests] PRIMARY KEY CLUSTERED 
(
	[LeaveRequestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[RecipientID] [int] NOT NULL,
	[Message] [nvarchar](255) NOT NULL,
	[Type] [nvarchar](50) NULL,
	[Date] [datetime2](0) NOT NULL,
	[ReadStatus] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Notifications] PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OCR_Telemetry]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCR_Telemetry](
	[TelemetryID] [int] IDENTITY(1,1) NOT NULL,
	[CaptureAt] [datetime2](0) NOT NULL,
	[PresetName] [varchar](50) NOT NULL,
	[PresetVersion] [varchar](20) NOT NULL,
	[Confidence] [decimal](5, 2) NOT NULL,
	[ElapsedMs] [int] NULL,
	[Decision] [varchar](16) NOT NULL,
	[FailureReason] [nvarchar](200) NULL,
	[CIN_Extracted] [varchar](12) NULL,
	[EmployeeID] [int] NULL,
	[AttendanceID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TelemetryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Policies]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Policies](
	[PolicyID] [int] IDENTITY(1,1) NOT NULL,
	[PolicyTitle] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Category] [nvarchar](50) NULL,
	[LastUpdated] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_Policies] PRIMARY KEY CLUSTERED 
(
	[PolicyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PresetRegistry]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PresetRegistry](
	[PresetID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Version] [varchar](20) NOT NULL,
	[Stage] [varchar](16) NOT NULL,
	[MetricsJson] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[DeployedAt] [datetime2](0) NULL,
	[RolledBackFrom] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[PresetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Preset_Name_Version] UNIQUE NONCLUSTERED 
(
	[Name] ASC,
	[Version] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PromotionLog]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PromotionLog](
	[PromotionID] [int] IDENTITY(1,1) NOT NULL,
	[PresetID] [int] NOT NULL,
	[Action] [varchar](16) NOT NULL,
	[Actor] [varchar](100) NOT NULL,
	[Reason] [nvarchar](500) NULL,
	[MetricsSnapshot] [nvarchar](max) NULL,
	[OccurredAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PromotionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_Attendance_Date]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Attendance_Date] ON [dbo].[Attendance]
(
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Attendance_Emp_Date]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Attendance_Emp_Date] ON [dbo].[Attendance]
(
	[EmployeeID] ASC,
	[Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_Department]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_Department] ON [dbo].[Employees]
(
	[Department] ASC
)
INCLUDE([FirstName],[LastName],[Email]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Employees_CIN_Number]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Employees_CIN_Number] ON [dbo].[Employees]
(
	[CIN_Number] ASC
)
WHERE ([CIN_Number] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Employees_Email]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_Employees_Email] ON [dbo].[Employees]
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_HR_Corrections_Att]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_HR_Corrections_Att] ON [dbo].[HR_Corrections]
(
	[AttendanceID] ASC,
	[CorrectedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_LeaveBalances_Emp_Type]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_LeaveBalances_Emp_Type] ON [dbo].[LeaveBalances]
(
	[EmployeeID] ASC,
	[LeaveType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LeaveRequests_Emp_Start]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_Emp_Start] ON [dbo].[LeaveRequests]
(
	[EmployeeID] ASC,
	[StartDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LeaveRequests_Emp_Status]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_Emp_Status] ON [dbo].[LeaveRequests]
(
	[EmployeeID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LeaveRequests_Status]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_LeaveRequests_Status] ON [dbo].[LeaveRequests]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notifications_Recipient_Read]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notifications_Recipient_Read] ON [dbo].[Notifications]
(
	[RecipientID] ASC,
	[ReadStatus] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OCR_Telemetry_Date]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OCR_Telemetry_Date] ON [dbo].[OCR_Telemetry]
(
	[CaptureAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_OCR_Telemetry_Preset]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_OCR_Telemetry_Preset] ON [dbo].[OCR_Telemetry]
(
	[PresetName] ASC,
	[PresetVersion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PromotionLog_Time]    Script Date: 11/30/2025 3:43:14 PM ******/
CREATE NONCLUSTERED INDEX [IX_PromotionLog_Time] ON [dbo].[PromotionLog]
(
	[OccurredAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [DF_Attendance_Source]  DEFAULT ('OCR') FOR [Source]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [DF_Attendance_NeedsReview]  DEFAULT ((0)) FOR [NeedsReview]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [DF_Attendance_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Attendance] ADD  CONSTRAINT [DF_Attendance_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AuditLog] ADD  CONSTRAINT [DF_AuditLog_ChangedAt]  DEFAULT (sysutcdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_SickLeaveBalance]  DEFAULT ((0)) FOR [SickLeaveBalance]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_VacLeaveBalance]  DEFAULT ((0)) FOR [VacationLeaveBalance]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Employees] ADD  CONSTRAINT [DF_Employees_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_Status]  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_Submitted]  DEFAULT (sysutcdatetime()) FOR [SubmittedDate]
GO
ALTER TABLE [dbo].[HR_Corrections] ADD  CONSTRAINT [DF_HR_Corrections_CorrectedAt]  DEFAULT (sysutcdatetime()) FOR [CorrectedAt]
GO
ALTER TABLE [dbo].[LeaveBalances] ADD  CONSTRAINT [DF_LeaveBalances_UsedDays]  DEFAULT ((0)) FOR [UsedDays]
GO
ALTER TABLE [dbo].[LeaveBalances] ADD  CONSTRAINT [DF_LeaveBalances_Remaining]  DEFAULT ((0)) FOR [RemainingDays]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  CONSTRAINT [DF_LeaveRequests_Status]  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[LeaveRequests] ADD  CONSTRAINT [DF_LeaveRequests_RequestedDate]  DEFAULT (sysutcdatetime()) FOR [RequestedDate]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_Date]  DEFAULT (sysutcdatetime()) FOR [Date]
GO
ALTER TABLE [dbo].[Notifications] ADD  CONSTRAINT [DF_Notifications_Read]  DEFAULT ('Unread') FOR [ReadStatus]
GO
ALTER TABLE [dbo].[OCR_Telemetry] ADD  CONSTRAINT [DF_OCR_Telemetry_CaptureAt]  DEFAULT (sysutcdatetime()) FOR [CaptureAt]
GO
ALTER TABLE [dbo].[Policies] ADD  CONSTRAINT [DF_Policies_LastUpdated]  DEFAULT (sysutcdatetime()) FOR [LastUpdated]
GO
ALTER TABLE [dbo].[PresetRegistry] ADD  CONSTRAINT [DF_PresetRegistry_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PromotionLog] ADD  CONSTRAINT [DF_PromotionLog_OccurredAt]  DEFAULT (sysutcdatetime()) FOR [OccurredAt]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [FK_Attendance_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [FK_Attendance_Employee]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Employee]
GO
ALTER TABLE [dbo].[HR_Corrections]  WITH CHECK ADD  CONSTRAINT [FK_Corrections_Att] FOREIGN KEY([AttendanceID])
REFERENCES [dbo].[Attendance] ([AttendanceID])
GO
ALTER TABLE [dbo].[HR_Corrections] CHECK CONSTRAINT [FK_Corrections_Att]
GO
ALTER TABLE [dbo].[LeaveBalances]  WITH CHECK ADD  CONSTRAINT [FK_LeaveBalances_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[LeaveBalances] CHECK CONSTRAINT [FK_LeaveBalances_Employee]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [FK_LeaveRequests_Employee] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [FK_LeaveRequests_Employee]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Employee] FOREIGN KEY([RecipientID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Employee]
GO
ALTER TABLE [dbo].[OCR_Telemetry]  WITH CHECK ADD  CONSTRAINT [FK_Telemetry_Attendance] FOREIGN KEY([AttendanceID])
REFERENCES [dbo].[Attendance] ([AttendanceID])
GO
ALTER TABLE [dbo].[OCR_Telemetry] CHECK CONSTRAINT [FK_Telemetry_Attendance]
GO
ALTER TABLE [dbo].[PresetRegistry]  WITH NOCHECK ADD  CONSTRAINT [FK_PresetRegistry_RolledBackFrom] FOREIGN KEY([RolledBackFrom])
REFERENCES [dbo].[PresetRegistry] ([PresetID])
GO
ALTER TABLE [dbo].[PresetRegistry] NOCHECK CONSTRAINT [FK_PresetRegistry_RolledBackFrom]
GO
ALTER TABLE [dbo].[PromotionLog]  WITH NOCHECK ADD  CONSTRAINT [FK_PromotionLog_Preset] FOREIGN KEY([PresetID])
REFERENCES [dbo].[PresetRegistry] ([PresetID])
GO
ALTER TABLE [dbo].[PromotionLog] NOCHECK CONSTRAINT [FK_PromotionLog_Preset]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [CK_Attendance_Source] CHECK  (([Source]='Import' OR [Source]='Manual' OR [Source]='OCR'))
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [CK_Attendance_Source]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD  CONSTRAINT [CK_Attendance_Status] CHECK  (([Status]='Absent' OR [Status]='Late' OR [Status]='Present'))
GO
ALTER TABLE [dbo].[Attendance] CHECK CONSTRAINT [CK_Attendance_Status]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Employees_CIN_Format] CHECK  (([CIN_Number] IS NULL OR [CIN_Number] like '[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Employees_CIN_Format]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Employees_Role] CHECK  (([Role]='Employee' OR [Role]='Manager' OR [Role]='HR' OR [Role]='Admin'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Employees_Role]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [CK_Employees_Status] CHECK  (([Status]='Suspended' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [CK_Employees_Status]
GO
ALTER TABLE [dbo].[LeaveBalances]  WITH CHECK ADD  CONSTRAINT [CK_LeaveBalances_Type] CHECK  (([LeaveType]='Unpaid' OR [LeaveType]='Mission' OR [LeaveType]='Sick' OR [LeaveType]='Annual'))
GO
ALTER TABLE [dbo].[LeaveBalances] CHECK CONSTRAINT [CK_LeaveBalances_Type]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_LeaveRequests_Status] CHECK  (([Status]='Rejected' OR [Status]='Approved' OR [Status]='Pending'))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_LeaveRequests_Status]
GO
ALTER TABLE [dbo].[LeaveRequests]  WITH CHECK ADD  CONSTRAINT [CK_LeaveRequests_Type] CHECK  (([LeaveType]='Unpaid' OR [LeaveType]='Mission' OR [LeaveType]='Sick' OR [LeaveType]='Annual'))
GO
ALTER TABLE [dbo].[LeaveRequests] CHECK CONSTRAINT [CK_LeaveRequests_Type]
GO
/****** Object:  StoredProcedure [dbo].[EmployeeCreate]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EmployeeCreate]
  @FirstName             nvarchar(50),
  @LastName              nvarchar(50),
  @Email                 nvarchar(100),
  @PasswordHash          nvarchar(max),
  @Phone                 nvarchar(15)    = NULL,
  @Department            nvarchar(50)    = NULL,
  @JobTitle              nvarchar(50)    = NULL,
  @DateOfJoining         date            = NULL,
  @ProfilePicture        nvarchar(max)   = NULL,
  @Role                  nvarchar(20),
  @Status                nvarchar(20)    = N'Active',
  @SickLeaveBalance      int             = 0,
  @VacationLeaveBalance  int             = 0,
  @CIN_Number            varchar(8)      = NULL,
  @EmployeeID            int             OUTPUT
AS
BEGIN
  SET NOCOUNT ON;

  IF EXISTS (SELECT 1 FROM dbo.Employees WHERE LOWER(LTRIM(RTRIM(Email))) = LOWER(LTRIM(RTRIM(@Email))))
  BEGIN
     RAISERROR (N'Email already exists.', 16, 1);
     RETURN;
  END;

  INSERT dbo.Employees(
    FirstName, LastName, Email, PasswordHash, Phone,
    Department, JobTitle, DateOfJoining, ProfilePicture,
    Role, Status, SickLeaveBalance, VacationLeaveBalance, CIN_Number,
    CreatedAt, UpdatedAt
  )
  VALUES(
    @FirstName, @LastName, @Email, @PasswordHash, @Phone,
    @Department, @JobTitle, @DateOfJoining, @ProfilePicture,
    @Role, @Status, @SickLeaveBalance, @VacationLeaveBalance, @CIN_Number,
    SYSUTCDATETIME(), SYSUTCDATETIME()
  );

  SET @EmployeeID = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[EmployeeUpdate]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EmployeeUpdate]
  @EmployeeID            int,
  @FirstName             nvarchar(50),
  @LastName              nvarchar(50),
  @Email                 nvarchar(100),
  @PasswordHash          nvarchar(max),
  @Phone                 nvarchar(15)    = NULL,
  @Department            nvarchar(50)    = NULL,
  @JobTitle              nvarchar(50)    = NULL,
  @DateOfJoining         date            = NULL,
  @ProfilePicture        nvarchar(max)   = NULL,
  @Role                  nvarchar(20),
  @Status                nvarchar(20),
  @SickLeaveBalance      int,
  @VacationLeaveBalance  int,
  @CIN_Number            varchar(8)      = NULL
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE dbo.Employees
  SET FirstName             = @FirstName,
      LastName              = @LastName,
      Email                 = @Email,
      PasswordHash          = @PasswordHash,
      Phone                 = @Phone,
      Department            = @Department,
      JobTitle              = @JobTitle,
      DateOfJoining         = @DateOfJoining,
      ProfilePicture        = @ProfilePicture,
      Role                  = @Role,
      Status                = @Status,
      SickLeaveBalance      = @SickLeaveBalance,
      VacationLeaveBalance  = @VacationLeaveBalance,
      CIN_Number            = @CIN_Number,
      UpdatedAt             = SYSUTCDATETIME()
  WHERE EmployeeID = @EmployeeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[EmployeeUpdatePhoto]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[EmployeeUpdatePhoto]
  @EmployeeID      int,
  @ProfilePicture  nvarchar(max)
AS
BEGIN
  SET NOCOUNT ON;

  UPDATE dbo.Employees
  SET ProfilePicture = @ProfilePicture,
      UpdatedAt      = SYSUTCDATETIME()
  WHERE EmployeeID = @EmployeeID;
END;
GO
/****** Object:  StoredProcedure [dbo].[UpsertAttendanceFromOCR]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/* ============================================================
   5) PROCEDURES
   ============================================================ */

-- OCR upsert + telemetry log
CREATE   PROCEDURE [dbo].[UpsertAttendanceFromOCR]
  @CIN           VARCHAR(12),
  @AttDate       DATE,
  @CheckInTime   TIME(0) = NULL,
  @CheckOutTime  TIME(0) = NULL,
  @Status        NVARCHAR(20),
  @Confidence    DECIMAL(5,2),
  @PresetName    VARCHAR(50),
  @PresetVersion VARCHAR(20),
  @ElapsedMs     INT = NULL,
  @Decision      VARCHAR(16) = NULL,   -- 'Accepted'|'NeedsReview'|'Rejected'; if NULL, inferred
  @FailureReason NVARCHAR(200) = NULL
AS
BEGIN
  SET NOCOUNT ON;

  DECLARE @EmpID INT = (SELECT EmployeeID FROM dbo.Employees WHERE CIN_Number = @CIN);
  DECLARE @NeedsReview BIT = CASE WHEN @Confidence < 0.85 THEN 1 ELSE 0 END;
  IF @Decision IS NULL
      SET @Decision = CASE WHEN @NeedsReview = 1 THEN 'NeedsReview' ELSE 'Accepted' END;

  DECLARE @AttendanceID INT;

  IF @EmpID IS NOT NULL
  BEGIN
    MERGE dbo.Attendance AS tgt
    USING (SELECT @EmpID AS EmployeeID, @AttDate AS [Date]) AS src
      ON tgt.EmployeeID = src.EmployeeID AND tgt.[Date] = src.[Date]
    WHEN MATCHED THEN
      UPDATE SET CheckInTime=@CheckInTime, CheckOutTime=@CheckOutTime, Status=@Status,
                 Source='OCR', NeedsReview=@NeedsReview, UpdatedAt=SYSUTCDATETIME()
    WHEN NOT MATCHED THEN
      INSERT (EmployeeID, [Date], CheckInTime, CheckOutTime, Status, Source, NeedsReview, CreatedAt, UpdatedAt)
      VALUES (@EmpID, @AttDate, @CheckInTime, @CheckOutTime, @Status, 'OCR', @NeedsReview, SYSUTCDATETIME(), SYSUTCDATETIME());
    
    SELECT @AttendanceID = AttendanceID
    FROM dbo.Attendance
    WHERE EmployeeID=@EmpID AND [Date]=@AttDate;
  END

  INSERT INTO dbo.OCR_Telemetry(CaptureAt, PresetName, PresetVersion, Confidence, ElapsedMs, Decision, FailureReason, CIN_Extracted, EmployeeID, AttendanceID)
  VALUES (SYSUTCDATETIME(), @PresetName, @PresetVersion, @Confidence, @ElapsedMs, @Decision, @FailureReason, @CIN, @EmpID, @AttendanceID);
END
GO
/****** Object:  StoredProcedure [dbo].[VerifyLogin]    Script Date: 11/30/2025 3:43:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[VerifyLogin]
    @Email    NVARCHAR(255),
    @Password NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NormalizedEmail NVARCHAR(255) =
        LOWER(LTRIM(RTRIM(@Email)));

    DECLARE @HashedPassword VARCHAR(64) =
        CONVERT(VARCHAR(64), HASHBYTES('SHA2_256', @Password), 2);

    -- Only check if credentials match anything
    IF EXISTS (
        SELECT 1
        FROM dbo.Employees AS E
        WHERE
            LOWER(LTRIM(RTRIM(E.Email))) = @NormalizedEmail
            AND E.PasswordHash = @HashedPassword
    )
    BEGIN
        -- Return ANY row so PowerApps sees a ResultSet
        SELECT 1 AS LoginOk;
    END;
    -- If credentials are wrong: NO SELECT at all → no ResultSets
END;
GO
USE [master]
GO
